.page_banner{
    height: 40vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: $space_l_32;
    .page_banner_overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $white_colour;
        opacity: .7;
        }
        .about_banner_heading{
            @include heading_3($main_font, $primary_colour);
            position: relative;
            z-index: 5;
            text-transform: uppercase;
        }    
    }
.about_banner{
    background-image: url(../images/JCNP_About_Us_Banner.jpg);
}

/*-------SECTION ONE----------*/

.about_section_1_container{
    // padding: $space_xxl_64 0;
    display: grid;
    margin-top: $space_xl_48;

    .about_section_1_left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .about_section_1_left_caption{
            @include heading_4($main_font, $primary_colour);
            padding-bottom: $space_l_32;
            text-align: center;
            text-transform: uppercase;
            span{
                color: $secondary_colour;
            }
        }
        .about_section_1_left_text{
            @include body_copy($alt_font, $dark_colour);
            text-align: justify;
            padding-bottom: $space_l_32;
        }
        .about_section_1_left_cta{
            display: none;
            visibility: hidden;
        }

    
    }
    .about_section_1_right{
        img{
            width: 100%;
        }
    }
    
}
    
/*-------------About Section 2---------------*/
.about_section_2{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin-top: $space_m_24;
    // background-color: salmon;
}
.about_section_2_left{
    margin-bottom: $space_m_24;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about_section_2_right{
    width: 100%;
   .mission_vision_container{
    display: grid;
    gap: $space_m_24;
    width: 100%;
    gap: $space_m_24;

    .mission_vision{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:$space_s_16;
        width: 100%;
        h3{
            @include heading_5($main_font, $primary_colour);
            // padding-bottom: $space_m_24;

        }
        p{
            @include body_copy($main_font, $dark_colour);
            text-align: justify;
        }
        button{
            width: 100%;
        }
    }
   }
   .pillars{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: $space_l_32;
     margin-top: $space_xl_48;

     .pillar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $space_m_24;
        i.fa-solid{
            color: $primary_colour;
            font-size: $space_l_32;
            // height: $space_xxl_64;
            width:$space_xxl_64;
            text-align: center
        }
        p{
            @include heading_5($main_font, $dark_colour);
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            // padding-top: $space_l_32;
        }
     }
   }

}

/*--------------About section 3---------------------*/

.about_section_3{
    min-height:100vh;
    width: 100%;
    margin-top: $space_xl_48;
    margin-bottom: $space_xl_48;
    .about_section_3_container{

        h2{
            @include heading_4($main_font, $primary_colour);
            padding-bottom: $space_l_32;
            text-align: center;
            
            text-transform: uppercase;
            span{
                color: $secondary_colour;
            }  
        }
        .about_section_3_excecs{
            
            .about_section_3_excec{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: $space_m_24;
                img{
                    width: 200px;
                    height: 200px;
                }
                   
                h4{
                    @include heading_5($alt_font, $secondary_colour);
                    text-transform: uppercase;

                }
                h5{
                    @include heading_5($alt_font, $primary_colour);
                    text-align:center; 

                }
                p{
                    @include body_copy($alt_font, $dark_colour);
                    text-align:justify ;
                }
            }
        }
       img.team_img{
        width: 100%;
        height: 100%;
       }
    }
}















//Media Queries
@media screen and (min-width: 800px) and (max-width: 1020px){


    .about_section_2_right{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .pillars{
        grid-template-columns: 1fr 1fr;
        
    }
   .about_section_3_container{
    h2{
        text-align: left !important;
    }
   }
    .about_section_3_excecs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $space_m_24;
        margin-bottom: $space_m_24;
    }
}


@media screen and (min-width: 1021px){
    .about_section_1_container{
        .about_section_1_left_caption{
            text-align: left !important;
        }
        grid-template-columns: 1fr 1fr;
        gap: $space_xl_48;

        .about_section_1_left_cta{
            display: block !important;
            visibility: visible !important;
        }
        
    }
    .about_section_2{
        min-height: auto !important;
    }
    .about_section_2_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:$space_l_32;
    }
    .about_section_2_right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin-top: -5rem;
    }
    .mission_vision_container{
        grid-template-columns: 1fr 1fr;
    }
    .pillars{
        grid-template-columns: 1fr 1fr  !important;
        gap: $space_xl_48 !important;
        .pillar{
            i.fa-solid{
                font-size: $space_xxl_64 !important;
            }
        }
    }
    .mission_vision{
        button{
            width: auto !important;
        }
    }
    .about_section_3_container{
        h2{
            text-align: left !important;
        }
       }

    .about_section_3_excecs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $space_xl_48;
        margin-bottom: $space_m_24;
       
    }
}
