section.home_hero{
    height: 100vh;
    width: 100%;

}
.home_hero_container{
    height: 100%;
    width: 100%;
    display: grid;
}

.home_hero_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height:50vh;
    width:100%;
    overflow: hidden;
    gap: $space_xl_48;
    // padding: 0 $space_l_32;
    box-sizing: border-box;
    h1{
        @include heading_1($main_font, $primary_colour);
        text-transform: uppercase;
        padding-top: $space_m_24;

    }

    p{
        @include body_copy($main_font, $dark_colour);
        text-align: justify;

    }
    button{
        margin-bottom: $space_l_32;
    }
}

.home_hero_right{
    height: 50vh;
    width: 100%;
    max-width:100%;
    box-sizing: border-box;
    background-color: green;
    margin: 0;
    padding: 0;
img{
    height: 100%;
    width:100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}
}

 @media screen and (min-width:900px ){
    .home_hero_container{
        grid-template-columns: 1fr 1fr;

        .home_hero_left{
            height: 100vh;
            
        }
        .home_hero_right{
            height: 100vh;
        }
    }

}


/*-----------------HOME SERVICES-------------*/

.home_services{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: $space_xl_48 0;
    background-color: $light_colour;

}

.home_services_container{
    height: 100%;
    width: 100%;
    background-color: $light_colour;
}

.home_services_left{
    height: 100%;
    width: 100%;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
}

.home_services_right{
    height: 100%;
    width: 100%;
    margin-top: $space_xxl_64;
    background-color: $light_colour;
    // background-color: blue;


    .service_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $space_m_24;
        margin-bottom : $space_xl_48;
        background-color: $light_colour;
        // background-color: salmon;

        h3{
            @include heading_5($main_font, $dark_colour);
            text-align: center;
        }

        p{
            @include body_copy($main_font, $dark_colour);
            text-align: center;
        }

        img{
            height: 100px;
        }
    }
}


/*---------------Home About-----------*/
.home_about{
    min-height: 100vh;
    width:100%;
    padding: $space_l_32 0;
}

.home_about_container{
    width: 100%;
    height: 100%;
}

.home_about_left{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: $space_l_32;
   h3{
    @include heading_5($main_font, $primary_colour);
    text-align: left;
    
   }

   p{
    @include body_copy($main_font, $dark_colour);
    text-align: justify;
}

.home_about_left_numbers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $space_l_32;

    .numbers_2, .numbers_4{
        align-self: safe end;
    }
    
    
    .numbers{
        h4{
            @include heading_4($main_font, $secondary_colour);
            margin-bottom: $space_s_16;
        }

        p{
            @include body_copy($main_font, $dark_colour);
            text-align: left;
            font-weight: 600;

        }
    }
}
   
}

.home_about_right{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    margin-top: $space_l_32;
    height: 100%;
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;   
    }
}

/*-------------Clients Section-------------------*/
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc((-250px * 9) - $space_xl_48));
    
    }
}

.home_clients{
    padding: $space_xxl_64 0;
    .home_clients_heading{
        @include heading_4($main_font, $secondary_colour);
        padding-bottom: $space_xxl_64;
        
    }

    .home_clients_marquee{
        height: 100px;
        margin: auto;
        width: auto;
        position: relative;
        overflow: hidden;

        .home_clients_marguee_track{
            animation: scroll 40s linear infinite;
            display: flex;
            flex-direction: row;
            gap: $space_xl_48;
            width: calc((100px * 18 ) - $space_xl_48) ;

            .marquee_slide{
                height: 100px;
                width: 250px;
            }
        }
    }
}






//Media Queries
@media screen and (min-width: 800px) and (max-width: 1020px){
    .home_services_right{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $space_m_24 !important;
    }

}


@media screen and (min-width: 1021px){
    .home_services_right{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $space_xl_48 !important; 
        margin-top:0 !important;
        align-content: center;
    }

    .home_services_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $space_xxl_64 !important;
    }

    .service_card{
        margin-bottom : 0 !important;
        justify-content:flex-start !important;
        max-height:400px !important;
        gap: $space_l_32 !important;
        p{
            text-align: justify  !important;
        }
        
    }
}